* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #111;
	color: #f1a77c;
	min-height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	height: 60px;
	padding: 10px 30px;
	width: 100%;
}

.container {
	margin: 20px 40px;
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.form__button {
	border: none;
	background-color: #f1a77c;
	cursor: pointer;
	transition: 200ms;
	height: 28px;
}

.form__button:hover {
	background-color: #333;
	color: #f1a77c;
}

.form__field {
	position: relative;
}

.form__field--input {
	border: 1px solid #f1a77c;
	background-color: #333;
	color: #f1a77c;
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 51px;
	padding-right: 5px;
	height: 28px;
}

.form__field--text {
	position: absolute;
	top: 4px;
	left: 5px;
}

.list {
	max-height: 70vh;
	overflow-y: auto;
}

.list__button {
	background: transparent;
	border: none;
	cursor: pointer;
}

.list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 10px;
	margin: 5px 5px;
}

.list__item:hover {
	background-color: #333;
	cursor: pointer;
}

.list__item:hover > .list__button {
	color: #f1a77c;
}

.list__text {
	flex-grow: 1;
}

.list__text::before {
	content: 'Don\'t ';
}

.done {
	text-decoration: line-through;
}
